body {
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', sans-serif;
      background-color: #f4f4f4;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .form-wrapper {
      background-color: #1d5d9b;
      padding: 40px;
      border-radius: 20px;
      width: 100%;
      max-width: 430px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.2);
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .form-wrapper img {
      height: 45px;
      margin-bottom: 15px;
    }

    .form-wrapper h2 {
      margin-bottom: 25px;
      text-align: center;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    form label {
      width: 90%;
      font-size: 14px;
      margin-bottom: 5px;
      margin-top: 10px;
      text-align: left;
    }

    form input {
      width: 90%;
      padding: 10px 12px;
      border: none;
      border-radius: 6px;
      font-size: 14px;
      margin-bottom: 10px;
    }

    form button {
      background-color: #ffe600;
      border: none;
      color: black;
      font-weight: bold;
      padding: 10px;
      width: 90%;
      border-radius: 8px;
      font-size: 15px;
      cursor: pointer;
      margin-top: 15px;
    }

    .form-wrapper p {
      font-size: 14px;
      margin-top: 15px;
      text-align: center;
    }

    .form-wrapper a {
      color: #ffff66;
      text-decoration: none;
    }

    .form-wrapper a:hover {
      text-decoration: underline;
    }